.header-wrapper {
    color: Red;
    font-size: 32px;
    font-weight: bold;

    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;

    img {
        width: 60px;
    }
}